<!DOCTYPE html>
{% load static %} {# precisamos permitir que o Django use a static tag #}

<html lang="pt-br">
<head>
        <!-- Google Tag Manager
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NTWXQ43');</script>
    End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content="IE=edge">
    <meta name="viewport" content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}"> {# href indica onde está o arquivo de style #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap" rel="stylesheet">    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <title>VB Cursos</title>
</head>

<body>

<!-- Google Tag Manager (noscript)
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTWXQ43&gtm_auth=Jo8Z3q0JXBZM0a1u-BWUQw&gtm_preview=env-1&gtm_cookies_win=x"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
End Google Tag Manager (noscript) -->
<div id="wrapper">

    {% include 'navbar.html' %}

    <a href="https://api.whatsapp.com/send?phone=5541991675561&"><img id="whatsapp-btn" src="{% static 'images/whatsapp.png' %}"></a>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}

    {% endblock %}

    {% include 'footer.html' %}
</div>

<script src="{% static 'js/accordion.js' %}"></script>
<script src="{% static 'js/testimonial.js' %}"></script>


</body>
</html>